@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700,400italic);

html
{
    position: relative;
    min-height: 100%;
}

body
{
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 85px; /* bottom = footer height + 20 = 65 + 20*/
}
